header{
  color: #3c4dfe;
  text-decoration: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border-bottom: 1px solid #a5a9ff;
  position: fixed;
  z-index: 100;
  height: 75px;
  background-color: #fff;
  width: 80%;
  a{
    color: #3c4dfe;
    &:hover{
      color: #3c4dfe;
    }
  }
}

a{
  color: #000;
  text-decoration: none;
  &:hover{
    color: #000;
    text-decoration: none;
  }
}


.search{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  flex-direction: row;
  position: fixed;
  height: 75px;
  background-color: #fff;
  // border: 1px solid red;
  margin-top:75px;
  z-index: 100;
  width: 1320px;
  padding:1rem;
  // border:1px solid red;
  .form-control{
    width: 300px;
    margin-left: 1rem;
  }
}

section.detail-view {
  width: 100%;
  margin-top: 8rem;
  &.podcast-view{
    min-height: 79vh;
  }
  &.episode-view{
    min-height: 93vh;
  }
}

.podcast-grid{
  margin-top: 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  row-gap: 6rem;
  width: 100%;
  min-height: 68vh;
}

.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.podcast-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  cursor: pointer;
  .card-title{
    font-size: 1rem;
  }
  .card-text{
    font-size: 0.9rem;
  }
  .card-body{
    width: 290px;
    padding-top:0;
    padding-bottom: 0;
    position: relative;
    top: -50px;
  }
  .card-img-top{
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: 50%;
    margin-bottom: 15px;
    top: -50px;
  }
}

.podcast-detail{
  .col-md-4, .col-md-8{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.podcast-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  width: 70%;
  border-radius: 2%;
  border:none;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  min-height: 500px;
  .card-body{
    padding: 0;
    width: 100%;
    text-align: left;
  }
  img{
    width: 250px;
    height: 220px;
    object-fit: cover;
    border-radius: 2%;
    margin-bottom: 25px;
  }
  .card-title{
    padding: 1rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 100%;
  }
  .card-text{
    padding: 0.7rem;
    width: 100%;
    font-size: 0.9rem;
  }
}

.episodes{
  width: 95%;
  .episodes-quantity{
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    width: 100%;
  }
  .episodes-table{
    padding: 1rem;
    table{
      text-align: left;
      th{
        border-bottom: 1.5px solid #aca9a9;
      }
      td{
        border-bottom: 1px solid #aca9a9;
      }
      a{
        color: #3c4dfe;
        &:hover{
          color: #3c4dfe;
          text-decoration: underline;
        }
      }
    }
  }
}

.episode{
  .episode-information{
    text-align: left;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    width: 100%;
    border:none;
    border-radius: 2%;
    .episode-name{
      font-size: 1.5rem;
      padding: 1rem;
      border-bottom: 1px solid #eee;
    }
    .episode-description{
      font-size: 1rem;
      padding: 1rem;
      font-style: italic;
    }
    figure{
      width: 100%;
      padding: 1rem;
      audio{
        width: 100%;
      }
    }
  }
}